<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>open</title>
    <link rel="stylesheet" href="open.css">
</head>
<body>
    <video class="back-video" autoplay loop muted playsinline>
        <source src="/sv.mp4" type="video/mp4">
    </video>
    <nav class="nav">
        <div class="nav-logo">
            <h1 class="logo">Secure Web Application</h1>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h2>New User:  <a href="/signup">Sign-up...</div></a></h2>
            <h2>Existing User:  <a href="/login">Log-in...</a></h2>
        </div>
    </div>
</body>
</html>

