<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="container">
        <h2>Profile</h2></br>
        <p style="color: black; font-size: 20px;">Welcome, <%= email %>!</p>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>

