<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-up</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h2>Sign Up</h2>
    <% if (errors.length) { %>
      <ul>
      <% errors.forEach(function(e) { %>
        <li><%= e.msg %></li>
      <% }) %>
      </ul>
    <% } %>
    <form method="POST" action="/signup" class="form">
      <div class="details">
        <div class="input">
          <input type="email" name="email" class="field" placeholder="Email" required>
        </div>
        <div class="input">
          <input type="password" name="password" class="field" placeholder="Password (min 8 chars)" required>
        </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="submit">Sign Up</button>
        </div>
      </form>
    <h3>Already have an account? <a href="/login">Log-in</a>  </h3>
  </div>
</body>
</html>
